@import url('https://fonts.googleapis.com/css2?family=Space+Grotesk:wght@500&display=swap');

*{
  margin: 0;
  padding: 0;
  font-family: "Space Grotesk";
  font-weight: 500;
  box-sizing: border-box;
}
body{
  height: 100vh;
  background-image: url(/img/bg-main-desktop.png);
  background-repeat: no-repeat;
  background-size: 34%;

  display: flex;
  align-items: center;
  justify-content: center;
  .cards{
    width: 1150px;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
    gap: 30px;
    .bank__cards{
      width: 541px;

      display: flex;
      flex-direction: column;
      gap: 37px;
      .card__front{
        width: 447px;
        padding: 27px 43px 27px 32px;
        background-image:url(/img/bg-card-front.png);
        background-repeat: no-repeat;

        display: flex;
        flex-direction: column;
        gap: 64px;
        .circles{
          width: 84px;

          display: flex;
          align-items: center;
          justify-content: space-between;
          .big__circle{
            width: 50px;
            height: 50px;
            background: white;
            border-radius: 100%;
          }
          .small__circle{
            width: 20px;
            height: 20px;
            border: 1px solid white;
            border-radius: 100%;
          }
        }
        .card__info{
          width: 383px;
          display: flex;
          flex-direction: column;
          gap: 26px;
          h1{
            font-size: 28px;
            letter-spacing: 3.422px;
            color: white;
          }
          .user__info{
            display: flex;
            justify-content: space-between;
            align-items: center;
            h2{
              font-size: 14px;
              letter-spacing: 2px;
              text-transform: uppercase;
              color: white;
            }
            p{
              font-size: 14px;
              letter-spacing: 2px;
              text-transform: uppercase;
              color: white;
            }
          }
        }
      }
      .card__back{
        width: 447px;
        border-radius: 10px;
        background: linear-gradient(169deg, #FFF 0, #D2D3D9 100%);
        padding: 23px 0 47px 0;

        display: flex;
        flex-direction: column;
        gap: 24px;
        margin-left: 94px;
        .quarty{
          width: 100%;
          height: 54px;
          background: #000;
        }
        .back__in{
          display: flex;
          flex-direction: column;
          align-items: center;
          gap: 33px;
          .card__cvc{
            width: 361px;
            height: 38px;
            background: #ADB5BE;
            padding-right: 10px;
            border-radius: 4px;
            display: flex;
            align-items: center;
            justify-content: flex-end;

            color: white;
            font-size: 14px;
            letter-spacing: 2px;
            text-transform: uppercase;
          }
        }
      }
    }
    .card__information{
      width: 381px;
      display: flex;
      flex-direction: column;
      gap: 40px;
      form{
        display: flex;
        flex-direction: column;
        gap: 26px;
        label{
          font-size: 12px;
          letter-spacing: 2px;
          text-transform: uppercase;
          color: #21092F;
        }
        .card__content{
          display: flex;
          flex-direction: column;
          gap: 9px;
          input{
            width: 381px;
            padding: 11px 18px;
            border-radius: 8px;
            border: 1px solid #DFDEE0;
            outline: none;
            &::placeholder{
              color: #21092F;
              font-size: 18px;
              opacity: 0.25;
            }
          }
        }
        .cards__info{
          display: flex;
          gap: 20px;
          .data{
            display: flex;
            flex-direction: column;
            gap: 9px;
            .mounth{
              display: flex;
              align-items: center;
              gap: 10px;
              input{
                width: 80px;
                padding: 11px 16px;
                border-radius: 8px;
                border: 1px solid #DFDEE0;
                outline: none;
                &::placeholder{
                  color: #21092F;
                  font-size: 18px;
                  opacity: 0.25;
                }
              }
            }
          }
          .cvc{
            display: flex;
            flex-direction: column;
            gap: 9px;
            input{
              width: 191px;
              padding: 11px 16px;
              border-radius: 8px;
              border: 1px solid #DFDEE0;
              outline: none;
              &::placeholder{
                color: #21092F;
                font-size: 18px;
                opacity: 0.25;
              }
            }
          }
        }
      }
      button{
        background: #21092F;
        padding: 15px 157px;
        border: 0;
        border-radius: 8px;

        font-size: 18px;
        color:white;
      }
    }
  }
}

@media only screen and (max-width: 600px) {
  body{
    background-image: url(/img/bg-main-mobile.png);
    background-repeat: no-repeat;
    background-size: 100%;
    .cards{
      justify-content: center;
      gap: 50px;
      .bank__cards{
        position: relative;
        width: 343px;
        gap: 0px;

        .card__front{
          position: absolute;
          width: 285px;
          border-radius: 10px;
          padding: 18px 19px 21px 19px;

          display: flex;
          flex-direction: column;
          gap: 37px;
          // transform: translateY(95px);
          z-index: 1;
          .card__info{
            width: 244px;
            display: flex;
            flex-direction: column;
            gap: 17px;
            h1{
              font-size: 18px;
              letter-spacing: 2.2px;
            }
            .user__info{
              h2{
                font-size: 9px;
                letter-spacing: 1.286px;
              }
              p{
                font-size: 9px;
                letter-spacing: 1.286px;
              }
            }
          }
        }
        .card__back{
          width: 285px;
          padding: 15px 0;

          gap: 15.5px;
          margin-left: 57px;
          transform: translateY(-110px);
          .back__in{
            .card__cvc{
              width: 231px;
              height: 30px;
              padding-right: 11px;

              font-size: 9px;
              letter-spacing: 1.286px;
            }
          }
        }
      }
      .card__information{
        width: 327px;
        gap: 28px;
        form{
          gap: 20px;
          .card__content{
            display: flex;
            flex-direction: column;
            gap: 9px;
            input{
              width: 327px;
              padding: 11px 16px;
            }
          }
          .cards__info{
            gap: 11px;
            .data{
              .mounth{
                gap: 8px;
                input{
                  width: 72px;
                }
              }
            }
            .cvc{
              input{
                width: 164px;
              }
            }
          }
        }
        button{
          padding: 15px 130px;
        }
      }
    }
  }
}